# Ignore anything in the Build, Headers & Libraries directories other than README files

Build/*

Headers/*
!Headers/README

Libraries/*
!Libraries/README

# Ignore generated VC2010 files

Project/BaseElements.sdf
Project/BaseElements.suo
Project/BaseElements.vcxproj.user

Resources/*.aps
