# Ignore anything in the Build, Headers & Libraries directories other than README files

Build/*

Headers/*
!Headers/README

# Libraries

*.a
*.dylib
*.framework
*.lib

# Ignore generated Visual Studio files

Project/BaseElements.sdf
Project/BaseElements.suo
Project/BaseElements.vcxproj.user

Resources/*.aps

# user specific data in the project files
*.xcuserstate
*.xcbkptlist

xcuserdata

# osx noise
*.DS_Store

# xcode noise
*.mode1v3
*.pbxuser
*.perspective
*.perspectivev3
*.pyc
*~.nib/

Source/duktape*
.com.apple.timemachine.supported
Project/BaseElements.xcodeproj/xcuserdata/mark.xcuserdatad/xcschemes/xcschememanagement.plist
Project/BaseElements.xcodeproj/project.xcworkspace/xcshareddata/BaseElements.xccheckout
Project/BaseElements.xcodeproj/xcuserdata/mark.xcuserdatad/xcschemes/xcschememanagement.plist
Project/BaseElements.vcxproj.filters
Project/.vs/BaseElements/v14/.suo
Project/BaseElements.opensdf
Source/minizip/*
Project/Extras/Recover.log
Project/BaseElements.VC.opendb
