# Ignore anything in the Build, Headers & Libraries directories other than README files

Build/*

Headers/*
!Headers/README

Libraries/*
!Libraries/README

# Ignore generated VC2010 files

Project/BaseElements.sdf
Project/BaseElements.suo
Project/BaseElements.vcxproj.user

Resources/*.aps

# user specific data in the project files
*.xcuserstate
*.xcbkptlist

xcuserdata

# osx noise
*.DS_Store

# xcode noise
*.mode1v3
*.pbxuser
*.perspective
*.perspectivev3
*.pyc
*~.nib/

Source/minizip*
.com.apple.timemachine.supported
Project/BaseElements.xcodeproj/xcuserdata/mark.xcuserdatad/xcschemes/xcschememanagement.plist
