<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleGetInfoString</key>
	<string>BaseElements Plugin version 2.3a1, Copyright 2010-2014 by Goya.  All rights reserved.</string>
	<key>CFBundleIdentifier</key>
	<string>au.com.goya.baseelements</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleExecutable</key>
	<string>BaseElements</string>
	<key>CFBundleName</key>
	<string>BaseElements</string>
	<key>CFBundlePackageType</key>
	<string>FMXT</string>
	<key>CFBundleShortVersionString</key>
	<string>BaseElements Plugin version 2.3a1</string>
	<key>CFBundleSignature</key>
	<string>GyBE</string>
	<key>CFBundleVersion</key>
	<string>2.3a1</string>
</dict>
</plist>
